<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Average waste generated per ward</title>
</head>
<body>
    <a href="{% url 'home' %}">⬅ Back</a>
    <h1>BAR GRAPH SHOWING AVERAGE WASTE GENERATED PER WARD BY STATE</h1>
    <div style="overflow-x: auto; white-space: nowrap; border: 1px solid #ddd; padding: 10px;">
  <img src="data:image/png;base64,{{ chart2 }}" 
       alt="Chart" 
       style="min-width:1600px; height:auto; display:inline-block;">
</div>
</body>
</html>