<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total waste generated</title>
</head>
<body>
  <a href="{% url 'home' %}">⬅ Back</a>
    <h1>BAR GRAPH SHOWING TOTAL WASTE GENERATED</h1>
    <div style="overflow-x: auto; white-space: nowrap; border: 1px solid #ddd; padding: 10px;">
  <img src="data:image/png;base64,{{ chart1 }}" 
       alt="Chart" 
       style="min-width:1600px; height:auto; display:inline-block;">
</div>

  <br><br>
  
</body>
</html>